<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Tienda</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
    <body>
    <nav class="navbar">
    <button onclick="window.location.href='/'">Home</button>
    <a href="/cart/{{cartId}}">🛒 Carrito</a>
    <button onclick="window.location.href='/realtimeproducts'">RealtimeProducts</button>
    </nav>
    {{{body}}}
    </body>
</html>
